div {
    width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid whitesmoke;
    border-radius: 8px;
    background-color: rgba($color: lightgrey, $alpha: 0.6);
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}