@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css?family=Manjari&display=swap');
html {
    background-image: url(./large.png);
    background-size: cover;
    font-family: 'Press Start 2P', 'cursive';
}